body {
    
   width: 1200px;
   height: 1200px;
    background-color:black ;
    border: 1px solid red;
    
    
}
.arc {
        position: absolute;
        left: 600px;
        top: 434px;
}
.triangle {
    height: 0;
    width: 0;
    border-right: 87px solid transparent;
    border-bottom: 150px solid rgb(254, 254, 254);
    border-left: 87px solid transparent;
    position: absolute;
}

.container-triangle {
    zoom: 2.5;
    width: 300px;
    z-index: 100;
    position: absolute;
    padding: 100px 150px;
}
.triangle2 {
    height: 0;
    width: 0;
    border-right: 85px solid transparent;
    border-bottom: 147px solid rgb(0, 0, 0);
    border-left: 85px solid transparent;
    float: left;
    position: relative;
    left: -85px;
    top: 2px;
}
.triangle3 {
    display: inline-block;
    position: relative;
    top: 47px;
    left: -20px;
    height: 0;
    width: 0;
    border-right: 4px solid transparent;
    border-bottom: 89px solid #fff;
    border-left: 32px solid transparent;
    transform: rotate(-99deg);
}
   section {
    margin:auto;
    height: 600px;
   }

.arc div {
    width: 400px;
    height: 12px;
    background-color: brown;
    border: 1px solid black;
    background-color: red;
  position: relative;
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes slide {
    0% {
      left: -25%;
    }
    50% {
      left: 25%;
    }
    100% {
      left: 50%;
    }
  }

#trait {
    width: 400px;
    height: 5px;
    background-color: rgb(213, 203, 203);
    position: absolute;
    border: 1px solid rgb(200, 195, 195);
    top: 524px;
    left: 99px;
    z-index: 500;
    transform: rotate(-15deg);
}
